# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android
android/app/debug
android/app/profile
android/app/release
android/.gradle/
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/**/GeneratedPluginRegistrant.kt
android/**/key.properties
android/**/keystore.jks

# iOS
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*
ios/Runner.xcworkspace
ios/DerivedData/
ios/Pods/
ios/.symlinks/

# Web
web/.dart_tool/
web/build/

# Linux / Windows / Mac Desktop
linux/flutter/ephemeral/
windows/flutter/ephemeral/
macos/Flutter/ephemeral/
macos/Runner/GeneratedPluginRegistrant.*
macos/Pods/

# Environment Variables & Secrets
.env
.env.*
*.env

# Obfuscation & Symbols
app.*.symbols
app.*.map.json

# Coverage
coverage/
